<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Danh sách danh mục trang thiết bị</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li routerLink="/dashboard" class="breadcrumb-item d-flex align-items-center">
                        <span>Trang chủ</span>
                        <i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        <span>Quản lý danh mục trang thiết bị</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row card-custom">
    <div class="d-flex">
        <input class="ml-3" [(ngModel)]="queryParameters.keyWord" id="deviceCategoryName"
            placeholder="Nhập từ khóa tìm kiếm" pInputText />
        <div class="d-flex justify-content-center">
            <p-button class="ml-4" (click)="onSearch()" label="Lọc" />
            <p-button class="ml-2" (click)="onRefreshSearch()" icon="pi pi-sync" />
        </div>
        <div class="p-col-2 ml-auto">
            <p-button class="ml-2" (click)="displayDialog=true" icon="pi pi-plus-circle" label="Thêm" />
        </div>
    </div>
</div>

<p-table [value]="deviceCategories" [(selection)]="selectedDeviceCategories" [paginator]="false" [rows]="10"
    responsiveLayout="scroll" styleClass="p-datatable-striped custom-scrollbar" [rowHover]="true" [ngStyle]="{
    width: 'auto',
    'overflow-x': 'auto',
    'table-layout': 'auto'}">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th *ngFor="let col of columns" [hidden]="!col.selected">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-deviceCategory>
        <tr>
            <td class="text-center"><p-tableCheckbox [value]="deviceCategory"></p-tableCheckbox></td>
            <td *ngFor="let col of columns">
                <span *ngIf="col.field.includes('name')">
                    {{ deviceCategory.name}}
                    <p-image src="{{baseImageUrl+deviceCategory.imageUrl}}" alt="Image"
                        width="200" [preview]="true" />
                </span>
                <span *ngIf="col.field.includes('description')">
                    {{ deviceCategory.description }}
                </span>
                <span *ngIf="col.field.includes('date')">
                    {{ deviceCategory.createdAt }}
                </span>
                <span *ngIf="col.field.includes('action')">
                    <div class="" style="display: flex; align-items: center;">
                        <div class="font-size-16 ml-2" style="padding: 3px; border-radius: 50%">
                            <i class="pi pi-trash
                            "></i>
                        </div>
                        <div class="font-size-16 ml-2" style="padding: 3px; border-radius: 50%">
                            <i class="pi pi-eye
                        "></i>
                        </div>
                    </div>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="flex align-items-center mt-3" style="justify-content: space-between">
    <p>
        <span style="font-weight: 500">{{
            1 + (paging.pageIndex - 1) * paging.pageSize
            }}</span>
        -
        <span style="font-weight: 500">{{
            1 +
            (paging.pageIndex - 1) * paging.pageSize +
            (paging.pageSize - 1)
            }}</span>
        trong
        <span style="font-weight: 500">{{
            paging.totalRecords
            }}</span>
        bản ghi
    </p>
    <div *ngIf="deviceCategories!.length > 0">
        <p-paginator class="custum-paging" (onPageChange)="onPageChange($event)"
            [first]="(paging.pageIndex - 1) * paging.pageSize" [rows]="paging.pageSize"
            [totalRecords]="paging.totalRecords" [rowsPerPageOptions]="config.pageSizeOptions" />
    </div>
</div>
<p-dialog header="Tạo Danh Mục Thiết Bị" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}">
    <form [formGroup]="deviceCategoryForm" (ngSubmit)="onSubmit()">

        <div class="p-field">
            <label for="name">Tên danh mục</label>
            <input pInputText id="name" formControlName="name" placeholder="Tên danh mục" />
            <app-validation-message [form]="deviceCategoryForm" [messages]="validationMessages"
                field="name"></app-validation-message>
        </div>

        <div class="p-field">
            <label for="description">Mô tả</label>
            <textarea pInputTextarea id="description" formControlName="description" rows="5"
                placeholder="Mô tả"></textarea>
        </div>

        <div class="p-field">
            <label for="image">Ảnh</label>
            <p-fileUpload name="image" url="your-upload-url" [auto]="false" (onSelect)="onFileChange($event)"
                accept="image/*" [maxFileSize]="1000000" [showUploadButton]="false">
            </p-fileUpload>
            <p *ngIf="imageError">Vui lòng chọn ảnh hợp lệ</p>
        </div>

        <div *ngIf="imagePreview" class="mt-2">
            <img [src]="imagePreview" class="img-thumbnail" alt="Preview Image"
                style="max-width: 100%; max-height: 300px;">
        </div>

        <p-footer>
            <div class="p-d-flex p-jc-end">
                <button pButton label="Thêm mới" type="submit" [disabled]="deviceCategoryForm.invalid"></button>
                <button pButton label="Đóng" type="button" icon="pi pi-times" (click)="displayDialog = false"></button>
            </div>
        </p-footer>

    </form>
</p-dialog>


<app-confirm-dialog [message]="dialogMessage"></app-confirm-dialog>