.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .grid-item {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    min-height: 500px !important;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-img-top {
    /* height: 150px; */
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  