<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Danh sách yêu cầu cấp tài khoản</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li routerLink="/dashboard" class="breadcrumb-item d-flex align-items-center">
                        <span>Trang chủ</span>
                        <i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        <span>Quản lý yêu cầu cấp tài khoản</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row card-custom">
    <div class="d-flex">
        <input class="ml-3" [(ngModel)]="queryParameters.keyWord" id="accountRequestName" placeholder="Nhập từ khóa tìm kiếm"
            pInputText />
        <div class="d-flex justify-content-center">
            <p-button class="ml-4" (click)="onSearch()" label="Lọc" />
            <p-button class="ml-2" (click)="onRefreshSearch()" icon="pi pi-sync" />
        </div>
    </div>
</div>

<p-table [value]="accountRequests" [(selection)]="selectedAccountRequests" [paginator]="false" [rows]="10" responsiveLayout="scroll"
    styleClass="p-datatable-striped custom-scrollbar" [rowHover]="true" [ngStyle]="{
    width: 'auto',
    'overflow-x': 'auto',
    'table-layout': 'auto'}">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th *ngFor="let col of columns" [hidden]="!col.selected">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-accountRequest>
        <tr>
            <td class="text-center"><p-tableCheckbox [value]="accountRequest"></p-tableCheckbox></td>
            <td *ngFor="let col of columns">
                <span *ngIf="col.field.includes('name')">
                    {{ accountRequest.name}}
                </span>
                <span *ngIf="col.field.includes('code')">
                    {{ accountRequest.code }}
                </span>
                <span *ngIf="col.field.includes('email')">
                    {{ accountRequest.email }}
                </span>
                <span *ngIf="col.field.includes('phone')">
                    {{ accountRequest.phoneNumber }}
                </span>
                <span *ngIf="col.field.includes('classCode')">
                    {{ accountRequest.classCode }}
                </span>
                <span *ngIf="col.field.includes('position')">
                    {{ accountRequest.position }}
                </span>
                <span *ngIf="col.field.includes('date')">
                    {{ accountRequest.requestDate }}
                </span>
                <span *ngIf="col.field.includes('status')">
                    {{ accountRequest.statusLabel }}
                </span>
                <span *ngIf="col.field.includes('reason')">
                    {{ accountRequest.reason }}
                </span>
                <!-- <span *ngIf="!col.field.includes('staffTitle') && !col.field.includes('accountStatus')">
                    {{ accountRequest[col.field] }}
                </span> -->
                <span *ngIf="col.field.includes('action')">
                    <div class="" style="display: flex; align-items: center;">
                        <div class="font-size-16 ml-2" style="padding: 3px; border-radius: 50%">
                            <i class="pi pi-trash
                            "></i>
                        </div>
                        <div class="font-size-16 ml-2" style="padding: 3px; border-radius: 50%">
                            <i class="pi pi-eye
                        "></i>
                        </div>
                        <div *ngIf="accountRequest.status==0" (click)="handleUpdateStatus(accountRequest,1)" class="font-size-16 ml-2" style="padding: 3px; border-radius: 50%">
                            <i class="pi pi-thumbs-up
                        "></i>
                        </div>
                        <div *ngIf="accountRequest.status==0" (click)="handleUpdateStatus(accountRequest,2)" class="font-size-16 ml-2" style="padding: 3px; border-radius: 50%">
                            <i class="pi pi-thumbs-down
                        "></i>
                        </div>
                    </div>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="flex align-items-center mt-3" style="justify-content: space-between">
    <p>
        <span style="font-weight: 500">{{
            1 + (paging.pageIndex - 1) * paging.pageSize
            }}</span>
        -
        <span style="font-weight: 500">{{
            1 +
            (paging.pageIndex - 1) * paging.pageSize +
            (paging.pageSize - 1)
            }}</span>
        trong
        <span style="font-weight: 500">{{
            paging.totalRecords
            }}</span>
        bản ghi
    </p>
    <div *ngIf="accountRequests!.length > 0">
        <p-paginator class="custum-paging" (onPageChange)="onPageChange($event)"
            [first]="(paging.pageIndex - 1) * paging.pageSize" [rows]="paging.pageSize"
            [totalRecords]="paging.totalRecords" [rowsPerPageOptions]="config.pageSizeOptions" />
    </div>
</div>
<app-confirm-dialog [message]="dialogMessage"></app-confirm-dialog>
