.card-background {
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  min-height: 700px;
}

.device-selection {
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.05);
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Bên phải: Hiển thị thông tin thiết bị và lịch sử sử dụng */
.device-details {
  margin-top: 20px;
}

.device-info {
  text-align: center;
  margin-bottom: 20px;
}

.usage-history {
  margin-top: 20px;
}

.history-item {
  margin-bottom: 15px;
}

.history-time {
  font-weight: bold;
}

.history-description p {
  margin-top: 5px;
  color: #666;
}