<div class="row">
	<div class="col-12">
		<div class="page-title-box d-flex align-items-center justify-content-between">
			<h4 class="mb-0">Truy vết thiết bị</h4>
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li routerLink="/admin/dashboard" class="breadcrumb-item d-flex align-items-center">
						<span>Trang chủ</span>
						<i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
					</li>
					<li routerLink="/page/device" class="breadcrumb-item d-flex align-items-center">
						<span>Quản lý thiết bị</span>
						<i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
					</li>
					<li class="breadcrumb-item active">
						<span>Truy vết thiết bị</span>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="row card-background">
	<div class="col-md-6">
		<div class="device-selection">
			<label for="deviceSearch">Tìm kiếm thiết bị</label>
			<div class="p-inputgroup">
				<input type="text" pInputText [(ngModel)]="queryParameters.keyword"
					placeholder="Tên,mã thiết bị,mô tả,.." spellcheck="false" />
				<button pButton type="button" icon="pi pi-search" label="Tìm kiếm" (click)="searchDevices()">
				</button>
			</div>
			<div class="grid-container">
				<div *ngFor="let device of devices" class="grid-item" (click)="selectDevice(device)">
					<div class="card">
						<img [src]="baseImageUrl+device.deviceCategoryImageUrl" class="card-img-top"
							alt="Device Image" />
						<div class="card-body">
							<h5 class="card-title">{{ device.name }} - Mã máy {{device.serialNumber}}</h5>
							<p>Phòng {{device.roomName}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="device-details">
			<label for="searchDevice">Thông tin thiết bị</label>
			<div class="d-flex">
				<div *ngIf="selectedDevice" class="selected-device">
					<div class="card" style="width: 18rem;">
						<img src="{{ baseImageUrl+selectedDevice.deviceCategoryImageUrl}}" class="card-img-top"
							alt="Device Image">
						<div class="card-body">
							<h5 class="card-title">{{ selectedDevice.name }}</h5>
							<p class="card-text">{{ selectedDevice.description }}</p>
						</div>
					</div>
				</div>
				<div *ngIf="selectedDevice" class="ml-3">
					<p>Tên: {{ selectedDevice.name }}</p>
					<p>Trạng thái: {{ selectedDevice.statusLabel }}</p>
					<p>Vị trí: Phòng {{ selectedDevice.roomName }} - {{ selectedDevice.floorName }} - {{ selectedDevice.buildingName }}</p>
					<p>Mô tả: {{ selectedDevice.description }}</p>
				</div>
			</div>

			<div class="usage-history">
				<label for="searchDevice">Lịch sử sử dụng</label>
				<div *ngFor="let deviceLog of deviceLogs" class="history-item">
					<div class="history-time">
						<strong>{{ deviceLog.timestamp }}</strong>
					</div>
					<div class="history-description d-flex justify-content-between">
						<p class="mb-0">{{ deviceLog.description }}</p>
						<p class="mr-5 mb-0">{{ deviceLog.userActionName }}</p>
					  </div>
					  
				</div>
			</div>
		</div>
	</div>
</div>