<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Thêm mới thiết bị</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li routerLink="/admin/dashboard" class="breadcrumb-item d-flex align-items-center">
                        <span>Trang chủ</span>
                        <i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
                    </li>
                    <li routerLink="/admin/student" class="breadcrumb-item d-flex align-items-center">
                        <span>Quản lý thiết bị</span>
                        <i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        <span>Thêm mới thiết bị</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<form class="row" [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="p-field">
                        <label for="deviceCategoryId" class="me-2">Chọn loại thiết bị <span class="text-danger">*</span></label>
                        <p-dropdown id="deviceCategoryId" formControlName="deviceCategoryId" [options]="categories"
                            optionLabel="name" optionValue="id" placeholder="Chọn loại thiết bị">
                        </p-dropdown>
                        <app-validation-message [form]="deviceForm" [messages]="validationMessages"
                            field="deviceCategoryId"></app-validation-message>
                    </div>

                    <div class="p-field">
                        <label for="serialNumber">Số định danh <span class="text-danger">*</span></label>
                        <input pInputText id="serialNumber" formControlName="serialNumber"
                            placeholder="Nhập số định danh" />
                        <app-validation-message [form]="deviceForm" [messages]="validationMessages"
                            field="serialNumber"></app-validation-message>
                    </div>

                    <div class="p-field">
                        <label for="name">Tên thiết bị <span class="text-danger">*</span></label>
                        <input pInputText id="name" formControlName="name" placeholder="Nhập tên thiết bị" />
                        <app-validation-message [form]="deviceForm" [messages]="validationMessages"
                            field="name"></app-validation-message>
                    </div>

                    <div class="p-field">
                        <label for="description">Mô tả</label>
                        <textarea pInputTextarea id="description" formControlName="description" rows="5"
                            placeholder="Nhập mô tả"></textarea>
                    </div>

                    <div class="p-field">
                        <label for="selectedRoomName">Phòng chứa<span class="text-danger">*</span></label>
                        <div class="p-inputgroup">
                            <input readonly pInputText id="selectedRoomName" formControlName="selectedRoomName"
                                type="number" placeholder="Tên phòng" />
                            <button pButton type="button" icon="pi pi-search" (click)="displayRoomDialog=true"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="p-field p-grid">
                    <!-- Chọn ngày mượn -->
                    <div class="p-col-12 p-md-6">
                        <label for="purchaseDate">Ngày mua</label>
                        <p-calendar id="purchaseDate" formControlName="purchaseDate" [showTime]="false" placeholder="Chọn ngày mua"></p-calendar>
                    </div>
    
                    <!-- Chọn ngày trả -->
                    <div class="p-col-12 p-md-6">
                        <label for="warrantyExpiryDate">Ngày hết bảo hành</label>
                        <p-calendar id="warrantyExpiryDate" formControlName="warrantyExpiryDate" [showTime]="false" placeholder="Chọn ngày hết bảo hành"></p-calendar>
                    </div>
                </div>             
                
                <div class="form-group">
                    <label for="imageUpload" class="custom-file-upload">
                        <i class="fa fa-image"></i>
                    </label>
                    <input type="file" id="imageUpload" (change)="onImageSelect($event)" class="form-control-file">
                    <p-image *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" width="250" [preview]="true"
                        class="img-fluid mb-3">
                    </p-image>

                </div>
                <div class="p-field text-end">
                    <button pButton label="Xác nhận" type="submit" [disabled]="deviceForm.invalid"></button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Dialog for Room Selector -->
<p-dialog header="Chọn phòng chứa trang thiết bị" [(visible)]="displayRoomDialog" [modal]="true"
    [style]="{width: '60vw'}">
    <form (ngSubmit)="onRoomSearchSubmit()">
        <div class="p-field">
            <label for="roomName">Tên phòng</label>
            <input pInputText id="roomName" [(ngModel)]="searchParams.name"[ngModelOptions]="{standalone: true}" name="roomName"
                placeholder="Tìm theo tên phòng" />
        </div>

        <div class="p-field">
            <label for="buildingId" class="me-2">Tòa nhà</label>
            <p-dropdown id="buildingId" [(ngModel)]="searchParams.buildingId"[ngModelOptions]="{standalone: true}" [options]="buildings" optionLabel="name"
                optionValue="id" placeholder="Tìm theo tòa nhà" [style]="{ 'width': '100%', 'max-width': '400px' }">
            </p-dropdown>
            <label for="floorId" class="me-2 ml-2">Tầng</label>
            <p-dropdown id="floorId" [(ngModel)]="searchParams.floorId"[ngModelOptions]="{standalone: true}" [options]="floors" optionLabel="name"
                optionValue="id" placeholder="Tìm theo tầng" [style]="{ 'width': '100%', 'max-width': '400px' }">
            </p-dropdown>
            <button type="submit" class="ml-3" pButton label="Tìm kiếm" icon="pi pi-search"></button>
        </div>
    </form>

    <div *ngIf="rooms && rooms.length > 0" class="p-grid-t">
        <div *ngFor="let room of rooms">
            <div class="p-card" (click)="selectRoom(room)">
                <img src="{{ room.image }}" alt="Room Image" class="p-card-img" />
                <div class="p-card-body">
                    <h5>{{ room.name }}</h5>
                    <p>{{ room.floorName }} - {{room.buildingName}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer với các nút -->
    <p-footer>
        <button pButton label="Đóng" icon="pi pi-times" (click)="displayRoomDialog = false"></button>
    </p-footer>
</p-dialog>