<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Quyền hạn</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li routerLink="/dashboard" class="breadcrumb-item d-flex align-items-center">
                        <span>Trang chủ</span>
                        <i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        <span>Chi tiết lý quyền</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class=" mb-2 card-custom">
    <div class="general__info">
        <h5 class="title__heading">THÔNG TIN CHUNG</h5>
        <div class="grid p-fluid p-3">
            <div class="col-12 md:col-6 p-0">
                <div class="field mb-0 flex ">
                    <div class="col-12 mb-2 md:col-3 md:mb-0">
                        <label style="font-weight: 600; color: #000" htmlFor="name">Tên nhóm quyền/Vai trò<span
                                class="red-asterisk">*</span></label>
                    </div>
                    <div class="col-12 mb-2 md:col-9 md:mb-0">
                        <span>{{role.name}}</span>
                        <app-validation-message [form]="roleForm" [messages]="validationMessages"
                            field="name"></app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 p-0">
                <div class="field mb-0 flex ">
                    <div class="col-12 mb-2 md:col-2 md:mb-0">
                        <label style="font-weight: 600; color: #000" htmlFor="phoneNumber">Mô tả nhóm quyền</label>
                    </div>
                    <div class="col-12 mb-2 md:col-10 md:mb-0">
                        <span>{{role.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="identity-info">
        <h5 class="title__heading">PHÂN QUYỀN</h5>
        <div class="grid p-fluid p-3">
            <div class="permission-container">
                <div class="section" *ngFor="let sectionL of sectionLabel.data">
                    <h3 class="section-label">{{ sectionL.label }}</h3>
                    <div class="permission-item" *ngFor="let permission of permissions">
                        <span *ngIf="sectionL.key == permission.section" class="permission-group">
                            <label hidden *ngIf="permission.parentPermissionId == null" class="label-per check-box-custom">{{
                                permission.displayName }}</label>
                            <p-checkbox hidden class="check-box-custom mb-check" *ngIf="permission.parentPermissionId == null"
                                [(ngModel)]="permission.selected" (ngModelChange)="onPermissionChange(permission)"
                                binary="true"></p-checkbox>
                            <div hidden class="child-permissions" *ngIf="permission.childrens?.length">
                                <p-checkbox class="check-box-custom" *ngFor="let child of permission.childrens"
                                    label="{{ child.displayName }}" [(ngModel)]="child.selected"
                                    (ngModelChange)="onPermissionChange(child)" binary="true"></p-checkbox>
                            </div>
                            <div class="selected-permissions flex" *ngIf="getSelectedChildren(permission).length > 0">
                                <span class="selected-per-view"
                                    *ngFor="let selected of getSelectedChildren(permission)">
                                    {{ selected.displayName }}
                                </span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
 
</div>





