.fade-in-up {
    animation: fadeInUp 1s ease-out both;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .welcome-img {
    /* max-height: 400px; */
    object-fit: cover;
    /* border: 5px solid #f0f0f0; */
    border-radius: 15px;
  }
  

  /*  */
  .device-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scroll-behavior: smooth;
  
    /* Scrollbar đẹp */
    scrollbar-width: thin;
  }
  
  /* Scrollbar cho trình duyệt Webkit (Chrome, Edge) */
  .device-scroll-container::-webkit-scrollbar {
    height: 8px;
  }
  .device-scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }
  .device-scroll-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
  
  .device-card {
    flex: 0 0 auto;
    width: 250px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .device-card:hover {
    transform: translateY(-4px);
  }
  
  .device-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .device-card .quantity {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
  }
  