.card-background {
    margin-bottom: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    background-clip: border-box;
    border-radius: 5px;
    min-height: 700px;
}

.room-info {
    margin-top: 20px;
  }
  
  .room-info p {
    font-size: 16px;
  }
  
  .room-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  /* Danh sách thiết bị */
  .device-list {
    margin-top: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .grid-item {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }